* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.svg-sprite {
	display: none;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}

.container-mini {
	max-width: 1140px;
	margin: 0 auto;
}

@keyframes up {
	0% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes down {
	0% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(15px);
	}
}
/*---------------------------- Header ----------------------------*/
.header {
	background: #222;
	position: relative;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

.logo-list {
	display: flex;
	align-items: center;
	list-style: none;
}

.logo-list-item {
	margin-right: 40px;
}

.logo-list-item:last-child {
	margin-right: 0;
}

.logo-list-item-search {
	display: flex;
	align-items: center;
}

.logo-list-item-search-label {
	cursor: pointer;
	margin-right: 10px;
}

.logo-list-item-search-label-icon {
	fill: #E8E8E8;
	transition: all .2s;
}

.logo-list-item-search-label:hover .logo-list-item-search-label-icon {
	fill: #F16D7F;
}

.logo-list-item-search-label:active .logo-list-item-search-label-icon {
	opacity: .5;
}

.logo-list-item-search-input {
	width: 0;
	min-height: 0;
	padding: 5px;
	outline: none;
	background-color: transparent;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 17px;
	font-weight: normal;
	color: #E8E8E8;
	text-transform: none;
	text-decoration: none;
}

.logo-list-item-search-input:focus {
	width: 150px;
	min-height: 20px;
	transition: width .5s ease;
	border: 2px solid #E8E8E8;
	border-radius: 10px;
}

.header-balls {
	display: flex;
	justify-content: space-between;
	width: 130px;
}

.header-balls-item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

.header-balls-item:nth-child(1) {
	animation: up 1s ease-in-out infinite;
}

.header-balls-item:nth-child(2) {
	animation: down 1.1s ease-in-out infinite;
}

.header-balls-item:nth-child(3) {
	animation: up 1.05s ease-in-out infinite;
}

.header-balls-item:nth-child(4) {
	animation: down 1.15s ease-in-out infinite;
}

.header-balls-item:nth-child(5) {
	animation: up 1.1s ease-in-out infinite;
}

.header-balls-item:nth-child(6) {
	animation: down 1.05s ease-in-out infinite;
}

.header-balls-item:nth-child(7) {
	animation: up 1s ease-in-out infinite;
}

.menu-list {
	display: flex;
	align-items: flex-end;
	list-style: none;
}

.menu-list-item {
	margin-right: 33px;
}

.menu-list-item:last-child {
	margin-right: 0;
}

.menu-list-item-menu-btn {
	display: none;
}

.menu-list-item-menu-btn:checked ~ .menu-list-item-menu-label .menu-list-item-menu-label-icon-color:nth-child(1) {
	transform-origin: 16px 2px;
	transform: translate(0, 12px) rotate(45deg);
}

.menu-list-item-menu-btn:checked ~ .menu-list-item-menu-label .menu-list-item-menu-label-icon-color:nth-child(2) {
	display: none;
}

.menu-list-item-menu-btn:checked ~ .menu-list-item-menu-label .menu-list-item-menu-label-icon-color:nth-child(3) {
	transform-origin: 16px 26px;
	transform: translate(0, -12px) rotate(-45deg);
}

.menu-list-item-menu-label {
	cursor: pointer;
}

.menu-list-item-menu-label:hover .menu-list-item-menu-label-icon-color {
	fill: #F16D7F;
}

.menu-list-item-menu-label:active .menu-list-item-menu-label-icon-color {
	opacity: .5;
}

.menu-list-item-menu-label-icon-color {
	transition: all .2s;
	fill: #E8E8E8;
}

.menu-list-item-account {
	border: none;
	background: transparent;
	cursor: pointer;
	transition: visibility 0s .4s;
}

.menu-list-item-account-icon {
	fill: #E8E8E8;
	transition: all .2s;
}

.menu-list-item-account:hover .menu-list-item-account-icon {
	fill: #F16D7F;
}

.menu-list-item-account:active .menu-list-item-account-icon {
	opacity: .5;
}

.menu-list-item-cart {
	border: none;
	background: transparent;
	cursor: pointer;
	transition: visibility 0s .4s;
}

.menu-list-item-cart-icon {
	fill: #E8E8E8;
	transition: all .2s;
}

.menu-list-item-cart-icon-contain {
	fill: #F16D7F;
}

.menu-list-item-cart-icon-text {
	font-size: 12px;
}

.menu-list-item-cart:hover .menu-list-item-cart-icon {
	fill: #F16D7F;
}

.menu-list-item-cart:active .menu-list-item-cart-icon {
	opacity: .5;
}

.navmenu {
	box-sizing: border-box;
	position: absolute;
	background: #fff;
	width: 232px;
	height: 0;
	padding-left: 34px;
	top: 100%;
	right: 0;
	z-index: 100;
	box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: height 1s cubic-bezier(1, 0, 0, 1);
}

.navmenu-heading {
	padding-top: 37px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 24px;
}

.navmenu-list {
	list-style: none;
}

.navmenu-list-item-link {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 12px;
	transition: all .2s;
}

.navmenu-list-item-link:hover {
	filter: saturate(4);
}

.navmenu-list-item-link:active {
	opacity: .5;
}

.navmenu-list-item-sublist {
	list-style: none;
}

.navmenu-list-item-sublist-item-link {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 11px;
	margin-left: 22px;
	transition: all .2s;
}

.navmenu-list-item-sublist-item-link:hover {
	color: #0F0F0F;
}

.navmenu-list-item-sublist-item-link:active {
	opacity: .5;
}

.navmenu-close {
	position: absolute;
	border: none;
	background: #fff;
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.navmenu-close-icon {
	fill: #000;
}

.navmenu-close-icon:hover {
	transform: rotate(180deg);
	transition: transform .5s;
}

.navmenu-display {
	display: block;
}
/*---------------------------- Promo ----------------------------*/
.promo {
	position: relative;
}

.promo-wrapper {
	max-width: 1600px;
	background: #F1E4E6;
}

.promo-video {
	max-width: 100%;
	height: auto;
}

.promo-text {
	position: absolute;
	left: 50%;
	top: 30%;
}

.promo-text-heading {
	position: relative;
}

.promo-text-heading:before {
	position: absolute;
	left: -28px;
	content: '';
	width: 12px;
	height: 92px;
	background-color: #F16D7F;
}

.promo-text-heading-big {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	line-height: 58px;
	font-weight: 900;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.promo-text-heading-small {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	line-height: 38px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.promo-text-heading-red {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	line-height: 38px;
	font-weight: 700;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
}
/*---------------------------- Categories ----------------------------*/
.categories {
	padding-top: 65px;
}

.categories-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories-people {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.categories-people-item {
	width: 31.5%;
	max-width: 360px;
	position: relative;
}

.categories-people-item-img {
	max-width: 100%;
	height: auto;
}

.categories-people-item-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgba(33, 22, 22, 0.7);
}

.categories-people-item-cover-text {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.categories-people-item-cover-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.categories-accesories {
	position: relative;
	width: 100%;
}

.categories-accesories-img {
	max-width: 100%;
	height: auto;
}

.categories-accesories-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgba(33, 22, 22, 0.7);
}

.categories-accesories-cover-text {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.categories-accesories-cover-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
/*---------------------------- Featured items ----------------------------*/
.featured-items {
	padding: 96px 0;
}

.featured-items-wrapper {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.featured-items-header {
	margin-bottom: 48px;
}

.featured-items-header-heading {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #222;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	margin-bottom: 6px;
}

.featured-items-header-text {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #9F9F9F;
	text-transform: none;
	text-decoration: none;
	text-align: center;
}

.featured-items-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 48px;
}

.featured-items-box-item {
	max-width: 360px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: #F8F8F8;
}

.featured-items-box-item:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.featured-items-box-item-image {
	max-width: 100%;
	height: auto;
}

.featured-items-box-item-image-pic {
	max-width: 100%;
	height: auto;
}

.featured-items-box-item-image-smooth {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(58, 56, 56, 0.86);
}

.featured-items-box-item-image.wrapper {
	position: relative;
	margin-bottom: 25px;
}

.featured-items-box-item:hover .featured-items-box-item-image-smooth {
	display: flex;
}

.featured-items-box-item-heading {
	max-width: 324px;
	margin-left: 18px;
	margin-bottom: 12px;
}

.featured-items-box-item-link {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.featured-items-box-item-text {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #5D5D5D;
	text-transform: none;
	text-decoration: none;
	max-width: 328px;
	margin-left: 16px;
	margin-bottom: 18px;
}

.featured-items-box-item-cost {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	color: #F16D7F;
	text-transform: none;
	text-decoration: none;
	max-width: 324px;
	margin-left: 18px;
}

.addtocart-button {
	width: 138px;
	height: 43px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	border: 1px solid #fff;
	transition: all .2s;
	background: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.addtocart-button:hover {
	background-color: #7F7F7F;
	color: #fff;
}

.addtocart-button:active {
	opacity: .5;
}

.addtocart-button-icon {
	margin-right: 13px;
	margin-left: 11px;
	fill: #fff;
	transition: all .2s;
}

.featured-items-more-button {
	display: block;
	max-width: 215px;
	margin: 0 auto;
	padding: 14px 38px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	color: #f26376;
	text-transform: none;
	text-decoration: none;
	border: 1px solid #f26376;
	transition: all .2s;
}

.featured-items-more-button:hover {
	background-color: #f26376;
	color: #fff;
}

.featured-items-more-button:active {
	opacity: .5;
}
/*---------------------------- Our features ----------------------------*/
.ourfeatures {
	background: #222224;
	padding: 103px 0;
}

.ourfeatures-wrapper {
	display: flex;
	justify-content: space-between;
}

.ourfeatures-card {
	padding: 0 30px;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ourfeatures-card-img {
	margin-bottom: 28px;
}

.ourfeatures-card-img-icon {
	fill: #F16D7F;
}

.ourfeatures-card-heading {
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	color: #FBFBFB;
	text-transform: none;
	text-decoration: none;
	max-width: 100%;
}

.ourfeatures-card-text {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #FBFBFB;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	opacity: .6;
	max-width: 100%;
}
/*---------------------------- Footer ----------------------------*/
.footer-top {
	padding: 97px 0 153px;
	background: url("../img/footer-middle-bg.png") no-repeat, #F4F4F4;
}

.footer-top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.footer-top-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.footer-top-about-avatar {
	margin-bottom: 30px;
}

.footer-top-about-text {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	color: #222224;
	text-transform: none;
	text-decoration: none;
	text-align: center;
}

.footer-top-subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.footer-top-subscribe-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	color: #222224;
	text-transform: none;
	text-decoration: none;
	text-align: center;
}

.footer-top-subscribe-text {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #222224;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	margin-bottom: 30px;
}

.footer-top-subscribe-input {
	position: relative;
}

.footer-top-subscribe-input-email {
	padding: 16px 10px 16px 22px;
	max-width: 256px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #222224;
	text-transform: none;
	text-decoration: none;
	opacity: .67;
	border: none;
	background: #E1E1E1;
	border-radius: 50px 0 0 50px;
	outline: none;
}

.footer-top-subscribe-input-email:focus {
	border: 1px solid #000;
	padding: 15px 9px 15px 21px;
}

.footer-top-subscribe-input-email:focus:invalid {
	border: 1px solid #f00;
	padding: 15px 9px 15px 21px;
}

.footer-top-subscribe-input-button {
	padding: 16px 22px;
	margin-left: -3px;
	max-width: 100px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	border: none;
	background: #F16D7F;
	border-radius: 0 50px 50px 0;
	cursor: pointer;
	transition: all .2s;
}

.footer-top-subscribe-input-button:hover {
	filter: saturate(4);
}

.footer-top-subscribe-input-button:active {
	opacity: .5;
}

.footer-bottom {
	background: #222224;
}

.footer-bottom-wrapper {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom-copyright {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	color: #FBFBFB;
	text-transform: none;
	text-decoration: none;
}

.footer-bottom-social-link {
	text-decoration: none;
}

.footer-bottom-social-link-icon {
	transition: all .2s;
}

.footer-bottom-social-link-icon .bg-color {
	fill: #fff;
	transition: all .2s;
}

.footer-bottom-social-link-icon .symbol-color {
	fill: #000;
	transition: all .2s;
}

.footer-bottom-social-link-icon:hover .bg-color {
	fill: #F16D7F;
}

.footer-bottom-social-link-icon:hover .symbol-color {
	fill: #fff;
}

.footer-bottom-social-link-icon:active {
	opacity: .5;
}
/*---------------------------------contacts.html-------------------------------------------*/
/*---------------------------- Breadcrumps ----------------------------*/
.breadcrumps {
	background: #F8F3F4;
}

.breadcrumps-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 148px;
}

.breadcrumps-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
}

.breadcrumps-item {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #636363;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.breadcrumps-item:last-child {
	font-weight: 700;
	color: #F16D7F;
}

.breadcrumps-item:hover {
	color: #F16D7F;
}

.breadcrumps-item:active {
	opacity: .5;
}
/*---------------------------- Catalog ----------------------------*/
.catalog {
	padding: 50px 0 96px;
}

.catalog-filter {
	display: flex;
	margin-bottom: 64px;
	position: relative;
}

.catalog-filter-open-label {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 304px;
	position: relative;
}

.catalog-filter-open-label-text {
	position: relative;
	z-index: 200;
	cursor: pointer;
	transition: color .2s;
}

.catalog-filter-open-label-icon {
	margin-left: 11px;
	fill: #000;
	position: relative;
	z-index: 200;
	cursor: pointer;
}

.catalog-filter-open-btn {
	display: none;
}

.catalog-filter-open-btn:checked ~ .catalog-filter-open-label .catalog-filter-open-label-text {
	color: #ef5b70;
}

.catalog-filter-open-btn:checked ~ .catalog-filter-open-label .catalog-filter-open-label-icon {
	fill: #ef5b70;
}

.catalog-filter-open-btn:checked ~ .catalog-filter-list {
	max-height: 1000px;
}

.catalog-filter-list {
	max-height: 0;
	padding: 0 16px;
	overflow: hidden;
	position: absolute;
	top: -13px;
	left: -16px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 10;
	list-style: none;
	transition: max-height 1s cubic-bezier(1, 0, 0, 1);
}

.catalog-filter-list-item-open-btn {
	display: none;
}

.catalog-filter-list-item-open-btn.category:checked ~ .catalog-filter-list-item-open-label.category {
	color: #ef5b70;
}

.catalog-filter-list-item-open-btn.category:checked ~ .catalog-filter-list-item-sublist.category {
	max-height: 700px;
}

.catalog-filter-list-item-open-btn.brand:checked ~ .catalog-filter-list-item-open-label.brand {
	color: #ef5b70;
}

.catalog-filter-list-item-open-btn.brand:checked ~ .catalog-filter-list-item-sublist.brand {
	max-height: 700px;
}

.catalog-filter-list-item-open-btn.designer:checked ~ .catalog-filter-list-item-open-label.designer {
	color: #ef5b70;
}

.catalog-filter-list-item-open-btn.designer:checked ~ .catalog-filter-list-item-sublist.designer {
	max-height: 700px;
}

.catalog-filter-list-item-open-label {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 37px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #EBEBEB;
	width: 328px;
	vertical-align: middle;
	margin-bottom: 24px;
	cursor: pointer;
	transition: all .2s;
}

.catalog-filter-list-item-open-label.category {
	padding-top: 46px;
}

.catalog-filter-list-item-open-label:hover {
	filter: saturate(4);
}

.catalog-filter-list-item-open-label:active {
	opacity: .5;
}

.catalog-filter-list-item-open-label:before {
	content: '';
	height: 37px;
	border: 3px solid #ef5b70;
	border-top: 10px solid #ef5b70;
	border-bottom: 10px solid #ef5b70;
	background-color: #ef5b70;
	margin-right: 11px;
}

.catalog-filter-list-item-sublist {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s linear;
	list-style: none;
	margin-left: 17px;
}

.catalog-filter-list-item-sublist-item {
	margin-bottom: 11px;
}

.catalog-filter-list-item-sublist-item-link {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: none;
	text-decoration: none;
	transition: all .2s;
}

.catalog-filter-list-item-sublist-item-link:hover {
	color: #0F0E0E;
}

.catalog-filter-list-item-sublist-item-link:active {
	opacity: .5;
}

.catalog-category {
	display: flex;
}

.catalog-category-wrapper {
	position: relative;
}

.catalog-category-trending-now-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.catalog-category-trending-now-label-text {
	margin-right: 10px;
	cursor: pointer;
}

.catalog-category-trending-now-label-icon {
	fill: #6F6E6E;
}

.catalog-category-trending-now-label:hover {
	color: #F16D7F;
}

.catalog-category-trending-now-label:hover .catalog-category-trending-now-label-icon {
	fill: #F16D7F;
}

.catalog-category-trending-now-label:active {
	opacity: .5;
}

.catalog-category-trending-now-label:active .catalog-category-trending-now-label-icon {
	opacity: .5;
}

.catalog-category-trending-now-btn {
	display: none;
}

.catalog-category-trending-now-btn:checked ~ .catalog-category-trending-now-label {
	color: #F16D7F;
}

.catalog-category-trending-now-btn:checked ~ .catalog-category-trending-now-label .catalog-category-trending-now-label-icon {
	fill: #F16D7F;
}

.catalog-category-trending-now-btn:checked ~ .catalog-category-trending-now-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.catalog-category-trending-now-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.catalog-category-trending-now-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.catalog-category-size-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.catalog-category-size-label-text {
	margin-left: 28px;
	margin-right: 10px;
	cursor: pointer;
}

.catalog-category-size-label-icon {
	fill: #6F6E6E;
}

.catalog-category-size-label:hover {
	color: #F16D7F;
}

.catalog-category-size-label:hover .catalog-category-size-label-icon {
	fill: #F16D7F;
}

.catalog-category-size-label:active {
	opacity: .5;
}

.catalog-category-size-label:active .catalog-category-size-label-icon {
	opacity: .5;
}

.catalog-category-size-btn {
	display: none;
}

.catalog-category-size-btn:checked ~ .catalog-category-size-label {
	color: #F16D7F;
}

.catalog-category-size-btn:checked ~ .catalog-category-size-label .catalog-category-size-label-icon {
	fill: #F16D7F;
}

.catalog-category-size-btn:checked ~ .catalog-category-size-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.catalog-category-size-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.catalog-category-size-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.catalog-category-price-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.catalog-category-price-label-text {
	margin-left: 28px;
	margin-right: 10px;
	cursor: pointer;
}

.catalog-category-price-label-icon {
	fill: #6F6E6E;
}

.catalog-category-price-label:hover {
	color: #F16D7F;
}

.catalog-category-price-label:hover .catalog-category-price-label-icon {
	fill: #F16D7F;
}

.catalog-category-price-label:active {
	opacity: .5;
}

.catalog-category-price-label:active .catalog-category-price-label-icon {
	opacity: .5;
}

.catalog-category-price-btn {
	display: none;
}

.catalog-category-price-btn:checked ~ .catalog-category-price-label {
	color: #F16D7F;
}

.catalog-category-price-btn:checked ~ .catalog-category-price-label .catalog-category-price-label-icon {
	fill: #F16D7F;
}

.catalog-category-price-btn:checked ~ .catalog-category-price-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.catalog-category-price-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.catalog-category-price-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.catalog-pagination-list {
	list-style: none;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	width: 284px;
	height: 44px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
	align-items: center;
}

.catalog-pagination-list-item-link {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #C4C4C4;
	text-transform: none;
	text-decoration: none;
	transition: all .2s;
}

.catalog-pagination-list-item-link-icon {
	fill: #000;
}

.catalog-pagination-list-item-link:hover {
	color: #F16D7F;
}

.catalog-pagination-list-item-link:active {
	opacity: .5;
}

.catalog-pagination-list-item-link:hover .catalog-pagination-list-item-link-icon {
	fill: #F16D7F;
}

.catalog-pagination-list-item:nth-child(2) .catalog-pagination-list-item-link {
	color: #ef5b70;
}

.catalog-pagination-list-item:nth-last-child(3) {
	margin-left: -20px;
	margin-right: -20px;
}
/*----------------------------- Product.html---------------------------------*/
.product-image {
	background: #F7F7F7;
	min-height: 777px;
	position: relative;
}

.product-image-wrapper {
	max-width: 597px;
	margin: 0 auto;
}

.product-image-prev {
	position: absolute;
	top: 50%;
	left: 0;
	display: flex;
	content: '';
	width: 47px;
	height: 47px;
	background: rgba(42, 42, 42, 0.15);
	border: none;
	cursor: pointer;
}

.product-image-prev-icon {
	margin: auto;
	fill: #000;
}

.product-image-prev:hover .product-image-prev-icon {
	fill: #F16D7F;
}

.product-image-prev:active .product-image-prev-icon {
	opacity: .5;
}

.product-image-next {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	content: '';
	width: 47px;
	height: 47px;
	background: rgba(42, 42, 42, 0.15);
	border: none;
	cursor: pointer;
}

.product-image-next-icon {
	margin: auto;
	fill: #000;
}

.product-image-next:hover .product-image-next-icon {
	fill: #F16D7F;
}

.product-image-next:active .product-image-next-icon {
	opacity: .5;
}

.product-image-img {
	width: 100%;
	height: auto;
}

.product-wrapper {
	background: #fff;
	border: 1px solid #EAEAEA;
	margin-top: -65px;
	position: relative;
}

.product-item {
	max-width: 597px;
	margin: 0 auto;
	padding: 65px 0 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
}

.product-item-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 48px;
}

.product-item-title-heading {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #F16D7F;
	text-transform: uppercase;
	text-decoration: none;
}

.product-item-title-heading:after {
	content: '';
	display: block;
	width: 63px;
	height: 3px;
	background: #ef5b70;
	margin: 12px auto;
}

.product-item-title-text {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
	color: #4D4D4D;
	text-transform: uppercase;
	text-decoration: none;
}

.product-item-description {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #5E5E5E;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	margin-bottom: 32px;
}

.product-item-cost {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #ef5b70;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 64px;
}

.product-item-devider {
	margin-bottom: 64px;
	align-self: stretch;
	border: 1px #EAEAEA solid;
}

.product-item-choose {
	display: flex;
	margin-bottom: 48px;
}

.product-item-choose-wrapper {
	position: relative;
}

.product-item-choose-color-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.product-item-choose-color-label-text {
	margin-right: 10px;
	cursor: pointer;
}

.product-item-choose-color-label-icon {
	fill: #6F6E6E;
}

.product-item-choose-color-label:hover {
	color: #F16D7F;
}

.product-item-choose-color-label:hover .product-item-choose-color-label-icon {
	fill: #F16D7F;
}

.product-item-choose-color-label:active {
	opacity: .5;
}

.product-item-choose-color-label:active .product-item-choose-color-label-icon {
	opacity: .5;
}

.product-item-choose-color-btn {
	display: none;
}

.product-item-choose-color-btn:checked ~ .product-item-choose-color-label {
	color: #F16D7F;
}

.product-item-choose-color-btn:checked ~ .product-item-choose-color-label .product-item-choose-color-label-icon {
	fill: #F16D7F;
}

.product-item-choose-color-btn:checked ~ .product-item-choose-color-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.product-item-choose-color-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.product-item-choose-color-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.product-item-choose-size-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.product-item-choose-size-label-text {
	margin-left: 28px;
	margin-right: 10px;
	cursor: pointer;
}

.product-item-choose-size-label-icon {
	fill: #6F6E6E;
}

.product-item-choose-size-label:hover {
	color: #F16D7F;
}

.product-item-choose-size-label:hover .product-item-choose-size-label-icon {
	fill: #F16D7F;
}

.product-item-choose-size-label:active {
	opacity: .5;
}

.product-item-choose-size-label:active .product-item-choose-size-label-icon {
	opacity: .5;
}

.product-item-choose-size-btn {
	display: none;
}

.product-item-choose-size-btn:checked ~ .product-item-choose-size-label {
	color: #F16D7F;
}

.product-item-choose-size-btn:checked ~ .product-item-choose-size-label .product-item-choose-size-label-icon {
	fill: #F16D7F;
}

.product-item-choose-size-btn:checked ~ .product-item-choose-size-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.product-item-choose-size-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.product-item-choose-size-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.product-item-choose-quantity-label {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	color: #6F6E6E;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.product-item-choose-quantity-label-text {
	margin-left: 28px;
	margin-right: 10px;
	cursor: pointer;
}

.product-item-choose-quantity-label-icon {
	fill: #6F6E6E;
}

.product-item-choose-quantity-label:hover {
	color: #F16D7F;
}

.product-item-choose-quantity-label:hover .product-item-choose-quantity-label-icon {
	fill: #F16D7F;
}

.product-item-choose-quantity-label:active {
	opacity: .5;
}

.product-item-choose-quantity-label:active .product-item-choose-quantity-label-icon {
	opacity: .5;
}

.product-item-choose-quantity-btn {
	display: none;
}

.product-item-choose-quantity-btn:checked ~ .product-item-choose-quantity-label {
	color: #F16D7F;
}

.product-item-choose-quantity-btn:checked ~ .product-item-choose-quantity-label .product-item-choose-quantity-label-icon {
	fill: #F16D7F;
}

.product-item-choose-quantity-btn:checked ~ .product-item-choose-quantity-options {
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.product-item-choose-quantity-options {
	display: none;
	min-width: 79px;
	padding: 10px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 25px;
	right: 0;
	white-space: nowrap;
	background: #fff;
}

.product-item-choose-quantity-options-item {
	margin-right: 9px;
	margin-bottom: 6px;
}

.product-item-add-to-cart {
	width: 212px;
	height: 48px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 17px;
	font-weight: normal;
	color: #f26376;
	text-transform: none;
	text-decoration: none;
	border: 1px solid #f26376;
	transition: all .2s;
	background: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.product-item-add-to-cart-icon {
	margin-right: 23px;
	margin-left: 24px;
	fill: #ef5b70;
	transition: all .2s;
}

.product-item-add-to-cart:hover {
	background-color: #f26376;
	color: #fff;
}

.product-item-add-to-cart:hover .product-item-add-to-cart-icon {
	fill: #fff;
}

.product-item-add-to-cart:active {
	opacity: .5;
}

.mini-catalog-wrapper {
	padding: 128px 0 80px 0;
}
/*----------------------------- Cart.html---------------------------------*/
.cart-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 96px 0 128px;
}

.cart-box {
	display: flex;
	flex-direction: column;
}

.cart-box-item {
	display: flex;
	position: relative;
	box-shadow: 10px 1px 20px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
}

.cart-box-item-img {
	display: block;
	max-width: 100%;
	height: auto;
}

.cart-box-item-img-wrapper {
	max-width: 262px;
}

.cart-box-item-description {
	display: flex;
	flex-direction: column;
	width: 390px;
	padding: 22px 97px 22px 31px;
}

.cart-box-item-description-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 42px;
}

.cart-box-item-description-price {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #575757;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 6px;
}

.cart-box-item-description-price-value {
	color: #F16D7F;
}

.cart-box-item-description-color {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #575757;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 6px;
}

.cart-box-item-description-size {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #575757;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 6px;
}

.cart-box-item-description-quantity {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: normal;
	color: #575757;
	text-transform: none;
	text-decoration: none;
	position: relative;
}

.cart-box-item-description-quantity-value {
	display: inline-block;
	max-width: 50px;
	margin-left: 24px;
	padding: 1px 0px 1px 15px;
	border: 1px solid #EAEAEA;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #656565;
	text-transform: none;
	text-decoration: none;
}

.cart-box-item-delete {
	position: absolute;
	top: 28px;
	right: 22px;
	border: none;
	background: none;
	cursor: pointer;
}

.cart-box-item-delete:hover {
	transform: rotate(180deg);
	transition: transform .5s;
}

.cart-box-buttons {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
}

.cart-box-buttons-item {
	display: inline-block;
	padding: 16px 39px;
	background: none;
	border: 1px solid #A4A4A4;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	transition: all .2s;
}

.cart-box-buttons-item:hover {
	background: #A4A4A4;
	color: #fff;
}

.cart-box-buttons-item:active {
	opacity: .5;
}

.cart-order {
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.cart-order-form {
	display: flex;
	flex-direction: column;
}

.cart-order-heading {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 20px;
}

.cart-order-country {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
	width: 100%;
	border: 1px solid #A4A4A4;
	margin-bottom: 20px;
	padding: 14px 17px;
}

.cart-order-state {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
	width: 100%;
	border: 1px solid #A4A4A4;
	margin-bottom: 20px;
	padding: 14px 17px;
}

.cart-order-postcode {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
	width: 100%;
	border: 1px solid #A4A4A4;
	margin-bottom: 24px;
	padding: 14px 17px;
}

.cart-order-quote {
	padding: 10px 15px;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
	color: #4A4A4A;
	text-transform: uppercase;
	text-decoration: none;
	background: none;
	border: 1px solid #A4A4A4;
	align-self: flex-start;
	margin-bottom: 58px;
	cursor: pointer;
	transition: all .2s;
}

.cart-order-quote:hover {
	background: #A4A4A4;
	color: #fff;
}

.cart-order-quote:active {
	opacity: .5;
}

.cart-order-checkout {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 40px;
	background: #F5F3F3;
}

.cart-order-checkout-sub {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
	color: #4A4A4A;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 12px;
}

.cart-order-checkout-sub-value {
	margin-left: 25px;
}

.cart-order-checkout-grand {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 21px;
}

.cart-order-checkout-grand-value {
	margin-left: 25px;
	color: #F16D7F;
}

.cart-order-checkout-devider {
	align-self: stretch;
	background: #E2E2E2;
	margin-bottom: 17px;
}

.cart-order-checkout-submit {
	padding: 15px 42px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #F16D7F;
	border: 1px solid #F16D7F;
	cursor: pointer;
	transition: all .2s;
}

.cart-order-checkout-submit:hover {
	filter: saturate(4);
}

.cart-order-checkout-submit:active {
	opacity: .5;
}
/*----------------------------- Registration.html---------------------------------*/

.registration {
	padding: 64px 0 96px;
}

.registration-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 22px;
	align-items: start;
}

.registration-form {
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.registration-form-person {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #222;
	text-transform: capitalize;
	text-decoration: none;
}

.registration-form-person-fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.registration-form-name {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: capitalize;
	text-decoration: none;
	padding: 14px 17px;
	border: 1px solid #A4A4A4;
}

.registration-form-surname {
	margin-bottom: 31px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: capitalize;
	text-decoration: none;
	padding: 14px 17px;
	border: 1px solid #A4A4A4;
}

.registration-form-sex {
	display: flex;
	align-items: center;
	margin-bottom: 33px;
}

.registration-form-sex-input {
	display: none;
}

.registration-form-sex-input:checked + .registration-form-sex-label::after {
	position: absolute;
	display: inline-flex;
	content: '';
	width: 13px;
	height: 13px;
	background: #a4a4a4;
	border-radius: 50%;
	left: 3px;
	top: 3px;
}

.registration-form-sex-label {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
	color: #000;
	text-transform: none;
	text-decoration: none;
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-right: 20px;
}

.registration-form-sex-label::before {
	display: inline-flex;
	content: '';
	width: 17px;
	height: 17px;
	border: 1px solid #a4a4a4;
	border-radius: 50%;
	margin-right: 10px;
}

.registration-form-details {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #222;
	text-transform: none;
	text-decoration: none;
}

.registration-form-details-fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.registration-form-email {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
	padding: 14px 17px;
	border: 1px solid #A4A4A4;
}

.registration-form-pass {
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
	padding: 14px 17px;
	border: 1px solid #A4A4A4;
}

.registration-form-recomend {
	margin-bottom: 39px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #b1b1b1;
	text-transform: none;
	text-decoration: none;
}

.registration-form-submit {
	align-self: flex-start;
	position: relative;
	cursor: pointer;
}

.registration-form-submit:hover {
	filter: saturate(4);
}

.registration-form-submit:hover .registration-form-submit-icon {
	transition: transform .2s;
	transform: scale(1.5);
}

.registration-form-submit:active {
	opacity: .5;
}

.registration-form-submit-input {
	padding: 16px 66px 16px 29px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #F16D7F;
	border: 1px solid #F16D7F;
	cursor: pointer;
}

.registration-form-submit-icon {
	fill: #fff;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: 12%;
}

.registration-perks {
	max-width: 660px;
	justify-self: end;
}

.registration-perks-heading {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 22px;
}

.registration-perks-description {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #000;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 21px;
}

.registration-perks-list {
	list-style: none;
}

.registration-perks-list-item {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #000;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 16px;
	display: grid;
	grid-template-columns: 52px auto;
}

.registration-perks-list-item:before {
	display: block;
	content: '';
	width: 20px;
	height: 10px;
	margin-right: 22px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	transform-origin: left bottom;
	transform: rotate(-45deg);
	margin-left: 10px;
	align-self: center;
}

@media (max-width: 1080px) {
	.featured-items-box-item {
		margin-bottom: 16px;
	}

	.featured-items-box-item:nth-last-child(-n+3) {
		margin-bottom: 16px;
	}

	.featured-items-box-item:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	.catalog .featured-items-box-item:nth-last-child(-n+3) {
		margin-bottom: 0px;
	}

	.catalog .featured-items-box-item:last-child {
		display: none;
	}

	.mini-catalog .featured-items-box-item:nth-child(3) {
		display: none;
	}

	.mini-catalog .featured-items-box-item:nth-child(2) {
		order: 1;
	}

	.mini-catalog .featured-items-box-item:nth-child(1) {
		order: 2;
	}

	.mini-catalog .featured-items-box-item:nth-child(n) {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.header-wrapper {
		padding: 0 32px;
	}

	.promo-text-heading-big {
		font-size: 44px;
		line-height: 53px;
	}

	.promo-text-heading-small {
		font-size: 24px;
		line-height: 29px;
	}

	.promo-text-heading-red {
		font-size: 24px;
		line-height: 29px;
	}

	.categories {
		padding-top: 24px;
	}

	.categories-wrapper {
		padding: 0 16px;
	}

	.categories-people {
		margin-bottom: 19px;
	}

	.featured-items {
		padding: 155px 0 65px;
	}

	.featured-items-header {
		margin-bottom: 73px;
	}

	.featured-items-box {
		padding: 0 16px;
		margin-bottom: 33px;
	}

	.ourfeatures-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.ourfeatures {
		padding: 0px 0 64px;
	}

	.ourfeatures-card {
		margin-top: 48px;
	}

	.footer-top-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.footer-top {
		padding: 64px 0 140px;
		background-position: 50% bottom;
		background-size: 150%;
	}

	.footer-top-about {
		margin-bottom: 80px;
	}

	.footer-bottom-wrapper {
		padding: 0 32px;
	}

	.breadcrumps {
		padding: 0 16px;
	}

	.catalog {
		padding: 24px 0 64px;
	}

	.catalog-filter {
		padding: 0 16px;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	.catalog-filter-open-label {
		margin-right: 0;
	}

	.catalog .featured-items-box {
		margin-bottom: 40px;
	}

	.mini-catalog-wrapper {
		padding: 128px 0 130px;
	}

	.mini-catalog-wrapper .featured-items-box {
		margin-bottom: 0;
	}

	.cart-wrapper {
		padding: 59px 16px 128px;
		flex-direction: column;
	}

	.cart-box {
		width: 100%;
		margin-bottom: 64px;
	}

	.cart-box-item {
		width: 100%;
	}

	.cart-order {
		flex-direction: row;
		align-items: flex-start;
		max-width: 100%;
		width: 100%;
	}

	.cart-order-form {
		margin-right: 16px;
		flex-grow: 1;
		max-width: 360px;
		width: 100%;
	}

	.cart-order-checkout {
		margin-top: 40px;
	}

	.registration {
		padding: 40px 16px 96px;
	}

	.registration-perks {
		max-width: 354px;
	}

	.registration-perks-heading {
		font-size: 16px;
		line-height: 19px;
	}

	.registration-perks-description {
		font-size: 16px;
		line-height: 19px;
	}

	.registration-perks-list-item {
		font-size: 16px;
		line-height: 19px;
	}
}

@media (max-width: 751px) {
	.featured-items-box {
		flex-direction: column;
		align-items: center;
	}

	.featured-items-box-item:nth-child(n) {
		margin-bottom: 16px;
	}

	.featured-items-box-item:last-child {
		margin-bottom: 0;
	}

	.mini-catalog .featured-items-box-item:nth-child(3) {
		display: block;
		margin-bottom: 0;
	}

	.mini-catalog .featured-items-box-item:nth-child(2) {
		display: none;
	}

	.mini-catalog .featured-items-box-item:nth-child(1) {
		order: 1;
		margin-bottom: 16px;
	}

	.mini-catalog .featured-items-box-item:nth-child(3) {
		order: 2;
	}
}

@media (max-width: 375px) {
	.header-wrapper {
		padding: 0 16px;
	}

	.header-balls {
		display: none;
	}

	.menu-list-item-account {
		position: absolute;
		visibility: hidden;
		top: 120px;
		right: 11px;
		z-index: 200;
	}

	.menu-list-item-cart {
		position: absolute;
		visibility: hidden;
		top: 155px;
		right: 3px;
		z-index: 200;
	}

	.menu-list-item-account-icon {
		fill: #000;
	}

	.menu-list-item-cart-icon {
		fill: #000;
	}

	.menu-list-item {
		margin: 0;
	}

	.promo-wrapper {
		height: 363px;
	}

	.promo-video {
		visibility: hidden;
	}

	.promo-text {
		position: absolute;
		top: 40%;
		left: 22%;
	}

	.promo-text-heading:before {
		height: 66px;
	}

	.promo-text-heading-big {
		font-size: 38px;
		line-height: 45px;
	}

	.promo-text-heading-small {
		font-size: 20px;
		line-height: 24px;
	}

	.promo-text-heading-red {
		font-size: 20px;
		line-height: 24px;
	}

	.categories {
		padding-top: 64px;
	}

	.categories-wrapper {
		padding: 0 16px;
	}

	.categories-people {
		flex-direction: column;
		margin-bottom: 0;
	}

	.categories-people-item {
		width: 100%;
		margin-bottom: 32px;
	}

	.categories-accesories-img {
		min-height: 111px;
		object-fit: cover;
	}

	.featured-items {
		padding: 64px 0 96px;
	}

	.featured-items-header {
		margin-bottom: 64px;
	}

	.featured-items-box {
		padding: 0 8px;
		margin-bottom: 40px;
		flex-direction: column;
	}

	.ourfeatures {
		padding: 0px 0 81px;
	}

	.footer-top {
		padding: 64px 16px 110px;
	}

	.footer-top-about {
		margin-bottom: 60px;
	}

	.footer-top-about-text {
		font-size: 18px;
		line-height: 22px;
	}

	.footer-top-subscribe-text {
		font-size: 14px;
		line-height: 21px;
	}

	.footer-bottom {
		padding: 43px 0 9px;
	}

	.footer-bottom-wrapper {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-bottom-copyright {
		order: 2;
	}

	.footer-bottom-social {
		order: 1;
	}

	.breadcrumps-wrapper {
		flex-direction: column;
		padding: 24px 16px 46px;
	}

	.catalog-filter-open-label-text {
		display: none;
	}

	.catalog-filter-open-label-icon {
		margin-left: 0;
		transform: scale(2.5);
	}

	.catalog-category-trending-now-label-text {
		font-size: 12px;
		line-height: 14px;
	}

	.catalog-category-size-label-text {
		font-size: 12px;
		line-height: 14px;
	}

	.catalog-category-price-label-text {
		font-size: 12px;
		line-height: 14px;
	}

	.catalog .featured-items-box-item:nth-child(n) {
		margin-bottom: 16px;
	}

	.catalog .featured-items-box-item:nth-last-child(2) {
		margin-bottom: 0;
	}

	.product-item-title {
		margin-bottom: 32px;
	}

	.product-item-cost {
		margin-bottom: 32px;
	}

	.product-item-devider {
		margin-bottom: 50px;
	}

	.product-item-choose-color-label-text {
		font-size: 10px;
		line-height: 12px;
	}

	.product-item-choose-size-label-text {
		font-size: 10px;
		line-height: 12px;
	}

	.product-item-choose-quantity-label-text {
		font-size: 10px;
		line-height: 12px;
	}

	.product-item-choose {
		margin-bottom: 64px;
	}

	.mini-catalog-wrapper {
		padding: 64px 0;
	}

	.cart-wrapper {
		padding: 40px 8px 96px;
	}

	.cart-order {
		flex-direction: column;
		align-items: stretch;
	}

	.cart-box {
		margin-bottom: 48px;
	}

	.cart-box-item-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.cart-box-item-description {
		padding: 17px;
	}

	.cart-box-item-description-heading {
		font-size: 16px;
		line-height: 19px;
	}

	.cart-box-item-description-price {
		font-size: 14px;
		line-height: 17px;
	}

	.cart-box-item-description-color {
		font-size: 14px;
		line-height: 17px;
	}

	.cart-box-item-description-size {
		font-size: 14px;
		line-height: 17px;
	}

	.cart-box-item-description-quantity {
		font-size: 14px;
		line-height: 17px;
	}

	.cart-box-item-description-quantity-value {
		font-size: 14px;
		line-height: 17px;
	}

	.cart-box-item-delete {
		transform: scale(0.56);
		top: 17px;
		right: 12px;
	}

	.cart-box-buttons-item {
		font-size: 12px;
		line-height: 14px;
		text-transform: none;
		padding: 9px 17px;
	}

	.cart-order-quote {
		margin-bottom: 48px;
	}

	.cart-order-checkout {
		margin-top: 0;
	}

	.registration {
		padding: 40px 8px 96px;
	}

	.registration-wrapper {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
	}

	.registration-form {
		margin-bottom: 40px;
	}
}

.cart-block {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
	border-radius: 5px;
	box-sizing: border-box;
	right: 13%;
	top: 90%;
	position: absolute;
	background-color: white;
	padding: 20px;
	color: black;
	width: 300px;
	z-index: 100;
}

.invisible {
	display: none;
}

.cart-block:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -10px;
	right: 35px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}

.buy-btn,
.del-btn {
	margin-top: 5px;
	background-color: #2f2a2d;
	padding: 5px 15px;
	border: 1px solid transparent;
	color: #fafafa;
	border-radius: 5px;
	transition: all ease-in-out 0.4s;
	cursor: pointer;
}

.buy-btn:hover,
.del-btn:hover {
	background-color: #fafafa;
	color: #2f2a2d;
	border: 1px solid #2f2a2d;
}

.cart-item {
	display: flex;
	justify-content: space-between;
}

.cart-item:not(:last-child) {
	margin-bottom: 20px;
}

.product-bio {
	display: flex;
}

.cart-item img {
	align-self: flex-start;
	margin-right: 15px;
	width: 50px;
	height: auto;
}

.product-single-price {
	color: #474747;
	font-size: 0.5em;
}

.product-price {
	margin-left: 30px;
}

.product-desc {
	max-width: 150px;
}

.product-quantity {
	margin-top: 15px;
	font-size: 0.75em;
}

.right-block {
	text-align: right;
}

.error-msg {
    padding: 30px 20px;
    background-color: red;
    color: white;
    position: relative;
}
.error-block {
    background-color: rgba(0,0,0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.close-btn {
    font-size: 1.5em;
    top: -40px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}

.add-product-btn, .remove-product-btn{
	position: absolute;
	display:block;
	width: 10px;
	height: 10px;
	border: none;
	border-top: solid 4px black;
	border-left: solid 4px black;
	border-radius: 3px;
	cursor: pointer;
}

.add-product-btn{
	top: 0;
	left: 130px;
	background: none;
	transform: rotate(45deg);
}

.remove-product-btn{
	bottom: 0;
	left: 130px;
	background: none;
	transform: rotate(-135deg);
}